.topBar {
    border: none 1px black;
    border-bottom: solid 2px #ce9a12;
    height: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #115234;
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 2);
}
.rolexLogo {
    background-image: url(/Photos/icons8-watch-100.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    cursor: pointer;
}
.menuBar {
    background-image: url(../Photos/menu.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    z-index: 4;
    position: absolute;
    top: 35px;
    left: 50px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: scale ease;
}
.menuBar:hover {
    cursor: pointer;
    transform: scale(1.1);
}
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}
.eu {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    top: 35px;
    right: 300px;
    z-index: 3;
    color: white;
    opacity: 0;
    animation: fadeIn 2s ease forwards;   
    transition: transform 200ms ease;
    will-change: scale;
}
.eu:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.au {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    position: absolute;
    top: 35px;
    right: 100px;
    z-index: 3;
    color: white;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: transform 200ms ease;
    will-change: scale;
}
.au:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.dw1 {
    border: solid 2px #006600;
    border-radius: 10px;
    width: 23%;
    height: 70%;
    position: absolute;
    top: 150px;
    left: 30px;
    z-index: 1;
    background-color: rgb(211, 211, 211);
    transition: background-color 0.5s, box-shadow 0.5s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}
.dw1:hover {
    background-color: 	 #808080;
    box-shadow: inset 0 0 0 3px #115234;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    .t1 {
        font-size: 35px;
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }
    .t2 {
        font-size: 17px;
        text-decoration: underline;
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }
    .t3 {
        font-size: 17px;
        position: absolute;
        top: 270px;
        text-decoration: underline;
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }
    .t4 {
        border-radius: 100px 20px 100px 20px;
    }
    .t5 {
        font-size: 25px;
        width: 210px;
        height: 60px;
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
    }
}
.dw2 {
    border: solid 2px #006600;
    border-radius: 10px;
    width: 23%;
    height: 70%;
    position: absolute;
    top: 220px;
    left: 500px;
    z-index: 5;
    background-color: rgb(211, 211, 211);
    transition: background-color 0.3s,box-shadow 0.5s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}
.dw2:hover {
    background-color: 	 #808080;
    box-shadow: inset 0 0 0 3px #115234;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    .y1 {
        font-size: 35px;
        color: black;
    }
    .y2 {
        font-size: 17px;
        text-decoration: underline;
        color: black;
    }
    .y3 {
        font-size: 17px;
        position: absolute;
        top: 250px;
        text-decoration: underline;
        color: black;
    }
    .y4 {
        border-radius: 100px 20px 100px 20px;
    }
    .y5 {
        font-size: 25px;
        width: 210px;
        height: 60px;
    }
}
.dw3 {
    border: solid 2px #006600;
    border-radius: 10px;
    width: 23%;
    height: 70%;
    position: absolute;
    top: 150px;
    left: 970px;
    z-index: 5;
    background-color: rgb(211, 211, 211);
    transition: background-color 0.3s, box-shadow 0.5s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}
.dw3:hover {
    background-color: 	 #808080;
    box-shadow: inset 0 0 0 3px #115234;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    .u1 {
        font-size: 35px;
        color: black;
    }
    .u2 {
        font-size: 17px;
        text-decoration: underline;
        color: black;
        width: 85%;
    }
    .u3 {
        font-size: 17px;
        position: absolute;
        top: 250px;
        text-decoration: underline;
        color: black;
        width: 85%;
    }
    .u4 {
        border-radius: 100px 20px 100px 20px;
    }
    .u5 {
        font-size: 25px;
        width: 210px;
        height: 60px;
    }
}
.dw4 {
    border: solid 2px #006600;
    border-radius: 10px;
    width: 23%;
    height: 70%;
    position: absolute;
    top: 220px;
    left: 1440px;
    z-index: 5;
    background-color: rgb(211, 211, 211);
    transition: background-color 0.3s, box-shadow 0.5s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}
.dw4:hover {
    background-color: #808080;
    box-shadow: inset 0 0 0 3px #115234;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    .i1 {
        font-size: 35px;
        color: black;
    }
    .i2 {
        font-size: 17px;
        text-decoration: underline;
        color: black;
    }
    .i3 {
        font-size: 17px;
        position: absolute;
        top: 250px;
        text-decoration: underline;
        color: black;
    }
    .i4 {
        border-radius: 100px 20px 100px 20px;
    }
    .i5 {
        font-size: 25px;
        width: 210px;
        height: 60px;
    }
}
.t4 {
    background-image: url(../Photos/F1.jpg);
    background-repeat: no-repeat;
    border-radius: 20px 100px 20px 100px;
    border: solid 2px #006600;
    width: 300px;
    height: 240px;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: border-radius 0.3s ease;
}
.t1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 30px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: font-family 0.5s ease, font-size 0.5s ease;
    color: #999999;
}
.t2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 85%;
    position: absolute;
    top: 130px;
    left: 40px;
    opacity: 0;
    animation: fadeIn 2s ease forwards; 
    transition: font-family 0.5s ease, font-size 0.5s ease;
    color: #999999;
}
.t3 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 85%;
    position: absolute;
    top: 230px;
    left: 40px;
    opacity: 0;
    animation: fadeIn 2s ease forwards; 
    transition: font-family 0.5s ease, font-size 0.5s ease;
    color: #999999;
}
.t5 {
    border: none 1px black;
    border-radius: 40px;
    background-color: #115234;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    transition: transform 0.3s ease, 
                width 0.3s ease, 
                height 0.3s ease,
                font-family 0.5s ease, 
                font-size 0.3s ease,
                background-color 0.5s ease;
}
.t5:hover {
    cursor: pointer;
}
.y1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 30px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.y2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 85%;
    position: absolute;
    top: 130px;
    left: 40px;
    opacity: 0;
    animation: fadeIn 2s ease forwards; 
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.y3 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 85%;
    position: absolute;
    top: 230px;
    left: 40px;
    opacity: 0;
    animation: fadeIn 2s ease forwards; 
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.y4 {
    background-image: url(../Photos/F2.jpg);
    background-repeat: no-repeat;
    border-radius: 20px 100px 20px 100px;
    width: 300px;
    height: 240px;
    border: solid 2px #006600;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: border-radius 0.3s ease;
}
.y5 {
    border: none 1px black;
    border-radius: 40px;
    background-color: #115234;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    transition: background-color 0.5s ease;
    transition: transform 0.3s ease, 
                width 0.3s ease, 
                height 0.3s ease, 
                font-family 0.5s ease,
                font-size 0.3s ease;
}
.y5:hover {
    cursor: pointer;
}
.u1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 30px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.u2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 130px;
    left: 40px;
    opacity: 0;
    animation: fadeIn 2s ease forwards; 
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.u3 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 230px;
    left: 40px;
    opacity: 0;
    animation: fadeIn 2s ease forwards; 
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.u4 {
    background-image: url(../Photos/F3.jpg);
    background-repeat: no-repeat;
    border-radius: 20px 100px 20px 100px;
    width: 300px;
    height: 240px;
    border: solid 2px #006600;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: border-radius 0.3s ease;
}
.u5 {
    border: none 1px black;
    border-radius: 40px;
    background-color: #115234;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    transition: transform 0.3s ease, 
                width 0.3s ease, 
                height 0.3s ease, 
                font-family 0.5s ease,
                font-size 0.3s ease,
                background-color 0.5s ease;
}
.u5:hover {
    cursor: pointer;
}
.i1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 30px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.i2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 85%;
    position: absolute;
    top: 130px;
    left: 40px;
    opacity: 0;
    animation: fadeIn 2s ease forwards; 
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.i3 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 85%;
    position: absolute;
    top: 230px;
    left: 40px;
    opacity: 0;
    animation: fadeIn 2s ease forwards; 
    transition: font-family 0.5s ease, font-size 0.3s ease;
    color: #999999;
}
.i4 {
    background-image: url(../Photos/F4.jpg);
    background-repeat: no-repeat;
    border-radius: 20px 100px 20px 100px;
    width: 300px;
    height: 240px;
    border: solid 2px #006600;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    transition: border-radius 0.3s ease;
}
.i5 {
    border: none 1px black;
    border-radius: 40px;
    background-color: #115234;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease, 
                width 0.3s ease, 
                height 0.3s ease, 
                font-family 0.5s ease,
                font-size 0.3s ease;
}
.i5:hover {
    cursor: pointer;
}
.tit {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 150px;
    left: 175px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    color: #115234;
}
.titC {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #115234;
    position: absolute;
    top: 300px;
    left: 90px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    max-width: 500px;
}
.titC .phrase {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ce9a12;
}
body {
    background-color: rgb(211, 211, 211);
}
.bb {
    border: solid 1px #115234;
    height: 700px;
    position: absolute;
    top: 180px;
    left: 650px;
}
.sbb {
    border: solid 1px #115234;
    height: 700px;
    position: absolute;
    top: 180px;
    right: 650px;
}
.eed {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 150px;
    left: 750px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    color: #115234;
}
.rae {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #115234;
    position: absolute;
    top: 300px;
    left: 725px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    max-width: 500px;
}
.rae .phrase1 {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ce9a12;
}
.atj {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 150px;
    right: 200px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    color: #115234;
}
.dsg {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #115234;
    position: absolute;
    top: 300px;
    right: 70px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    max-width: 500px;
}
.dsg .phrase2 {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ce9a12;
}
.ci {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 200px;
    left: 750px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    color: #115234;
}
.wtw {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    position: absolute;
    top: 350px;
    left: 730px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    max-width: 500px;
}
.wtw .phrase3 {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ce9a12;
}
.dbb {
    border: solid 1px #115234;
    height: 700px;
    position: absolute;
    top: 180px;
    left: 650px;
}
.fbb {
    border: solid 1px #115234;
    height: 700px;
    position: absolute;
    top: 180px;
    right: 650px;
}
.btB {
    border: none 1px black;
    height: 60px;
    background-color: #115234;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.btT {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: grey;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    left: 830px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.btT:hover {
    cursor: pointer;
}
.btTT {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: grey;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    left: 970px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.btTT:hover {
    cursor: pointer;
}
.s1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 150px;
    left: 750px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ss1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    max-width: 500px;
    position: absolute;
    top: 350px;
    left: 150px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.sss1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    max-width: 500px;
    position: absolute;
    top: 500px;
    left: 150px; 
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ssss1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 300px;
    right: 170px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.sssssss1 {
    border: none 1px black;
    border-radius: 40px;
    background-color: #115234;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 400px;
    right: 250px;
    z-index: 4;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.sssssss1:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 3px #ce9a12;
    transition: box-shadow 0.5s ease;
}
.ph1 {
    background-image: url(../Photos/s1.jpg);
    background-repeat: no-repeat;
    width: 139px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 790px;
    border-radius: 50px 10px 10px 10px;
    box-shadow: -10px -10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ph2 {
    background-image: url(../Photos/s2.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 225px;
    position: absolute;
    top: 300px;
    left: 950px;
    border-radius: 10px 50px 10px 10px;
    box-shadow: 10px -10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ph3 {
    background-image: url(../Photos/s3.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 225px;
    position: absolute;
    top: 615px;
    left: 630px;
    border-radius: 50px 10px 50px 50px;
    box-shadow: -10px 10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ph4 {
    background-image: url(../Photos/s4.jpg);
    background-repeat: no-repeat;
    width: 398px;
    height: 224px;
    position: absolute;
    top: 540px;
    left: 950px;
    border-radius: 10px 80px 40px 20px;
    box-shadow: 10px 10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.much {
    border: solid 2px;
    height: 50px;
    width: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 400px;
    right: 160px;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    transition: background-color 0.3s,box-shadow 0.5s ease;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.much:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #115234;
    border: none;
    color: #115234;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center; 
}
.privacy-policy {
    padding: 20px;
    max-width: 350px;
    margin: 20px auto;
    color: grey;
    position: absolute;
    top: 450px;
    right: 100px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.privacy-policy p {
    margin: 10px 0;
}

.privacy-policy.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out 0.5s;
}

.privacy-policy.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.spt {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: #115234;
    text-decoration: underline;
    text-decoration-color: #ce9a12;
    position: absolute;
    top: 550px;
    right: 50px;
    max-width: 250px;
    opacity: 0;
    transform: scale(0.8); /* Start slightly smaller */
    filter: blur(10px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out, filter 1s ease-in-out;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 1000;
    display: inline-block;
    text-align: center;
}
.spt.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* Scale to full size */
    filter: blur(0); /* Remove blur to reveal content */
}

.spt.hide {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8); /* Shrink slightly */
    filter: blur(10px); /* Apply blur to simulate disappearing into fog */
}
.NameTitle {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 150px;
    left: 750px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ContentNr1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    max-width: 500px;
    position: absolute;
    top: 350px;
    left: 150px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ContentNr2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    max-width: 500px;
    position: absolute;
    top: 500px;
    left: 150px; 
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.WatchPrice {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 300px;
    right: 170px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.BuyButton {
    border: none 1px black;
    border-radius: 40px;
    background-color: #115234;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 400px;
    right: 250px;
    z-index: 4;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.BuyButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 3px #ce9a12;
    transition: box-shadow 0.5s ease;
}
.FirstPhoto {
    background-image: url(../Photos/a1.jpg);
    background-repeat: no-repeat;
    width: 139px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 790px;
    border-radius: 50px 10px 10px 10px;
    box-shadow: -10px -10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.SecondPhoto {
    background-image: url(../Photos/a2.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 225px;
    position: absolute;
    top: 300px;
    left: 950px;
    border-radius: 10px 50px 10px 10px;
    box-shadow: 10px -10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ThirdPhoto {
    background-image: url(../Photos/a3.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 225px;
    position: absolute;
    top: 615px;
    left: 630px;
    border-radius: 50px 10px 50px 50px;
    box-shadow: -10px 10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.FourthPhoto {
    background-image: url(../Photos/a4.jpg);
    background-repeat: no-repeat;
    width: 398px;
    height: 224px;
    position: absolute;
    top: 540px;
    left: 950px;
    border-radius: 10px 80px 40px 20px;
    box-shadow: 10px 10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.watch {
    border: solid 2px;
    height: 50px;
    width: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 400px;
    right: 160px;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    transition: background-color 0.3s,box-shadow 0.5s ease;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.watch:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #115234;
    border: none;
    color: #115234;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center; 
}
.NameTitle2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 150px;
    left: 750px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ContentNr3 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    max-width: 500px;
    position: absolute;
    top: 350px;
    left: 150px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ContentNr4 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    max-width: 500px;
    position: absolute;
    top: 500px;
    left: 150px; 
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.WatchPrice2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 300px;
    right: 170px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.SecondBuy {
    border: none 1px black;
    border-radius: 40px;
    background-color: #115234;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 400px;
    right: 250px;
    z-index: 4;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.SecondBuy:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 3px #ce9a12;
    transition: box-shadow 0.5s ease;
}
.w1 {
    background-image: url(../Photos/w1.jpg);
    background-repeat: no-repeat;
    width: 139px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 790px;
    border-radius: 50px 10px 10px 10px;
    box-shadow: -10px -10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.w2 {
    background-image: url(../Photos/w2.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 225px;
    position: absolute;
    top: 300px;
    left: 950px;
    border-radius: 10px 50px 10px 10px;
    box-shadow: 10px -10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.w3 {
    background-image: url(../Photos/w3.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 225px;
    position: absolute;
    top: 615px;
    left: 630px;
    border-radius: 50px 10px 50px 50px;
    box-shadow: -10px 10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.w4 {
    background-image: url(../Photos/w4.jpg);
    background-repeat: no-repeat;
    width: 398px;
    height: 224px;
    position: absolute;
    top: 540px;
    left: 950px;
    border-radius: 10px 80px 40px 20px;
    box-shadow: 10px 10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.SecondWatch {
    border: solid 2px;
    height: 50px;
    width: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 400px;
    right: 160px;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    transition: background-color 0.3s,box-shadow 0.5s ease;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.SecondWatch:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #115234;
    border: none;
    color: #115234;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center; 
}
.NameTitle3 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 150px;
    left: 850px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ContentNr5 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    max-width: 500px;
    position: absolute;
    top: 350px;
    left: 150px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ContentNr6 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #115234;
    max-width: 500px;
    position: absolute;
    top: 500px;
    left: 150px; 
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.WatchPrice3 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 300px;
    right: 170px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ThirdBuy {
    border: none 1px black;
    border-radius: 40px;
    background-color: #115234;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 400px;
    right: 250px;
    z-index: 4;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ThirdBuy:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 3px #ce9a12;
    transition: box-shadow 0.5s ease;
}
.h1 {
    background-image: url(../Photos/h1.jpg);
    background-repeat: no-repeat;
    width: 139px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 790px;
    border-radius: 50px 10px 10px 10px;
    box-shadow: -10px -10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.h2 {
    background-image: url(../Photos/h2.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 225px;
    position: absolute;
    top: 300px;
    left: 950px;
    border-radius: 10px 50px 10px 10px;
    box-shadow: 10px -10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.h3 {
    background-image: url(../Photos/h3.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 225px;
    position: absolute;
    top: 615px;
    left: 630px;
    border-radius: 50px 10px 50px 50px;
    box-shadow: -10px 10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.h4 {
    background-image: url(../Photos/h4.jpg);
    background-repeat: no-repeat;
    width: 398px;
    height: 224px;
    position: absolute;
    top: 540px;
    left: 950px;
    border-radius: 10px 80px 40px 20px;
    box-shadow: 10px 10px 1px #ce9a12;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ThirdWatch {
    border: solid 2px;
    height: 50px;
    width: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 400px;
    right: 160px;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    transition: background-color 0.3s,box-shadow 0.5s ease;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.ThirdWatch:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #115234;
    border: none;
    color: #115234;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center; 
}